__pycache__
.vscode

DataAugment/WCT2/data
DataAugment/WCT2/model_checkpoints
DataAugment/WCT2/run.sh

DataAugment/Defog/data
DataAugment/Defog/__pycache__

DataAugment/DeBlur/data

DataTool/config
DataTool/data

DataClassification/logs
DataClassification/data
DataClassification/checkpoints
DataClassification/models/__pycache__
DataClassification/datasets/__pycache__